* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Main Containers */

.main-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 50px 1fr;
    border: 1px blue solid;
    height: 100vh;
}

.header {
    display: flex;
    border: 1px red solid;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    grid-column-start: 1;
    grid-column-end: 4;
}

.sidebar {
    border: 1px black solid;
    font-size: 1.5rem;
}

.hero {
    position: relative;
    border: 1px green solid;
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5px;
}

/* Hero Container */

.new-task {
    position: absolute;
    font-size: 3rem;
    width: 60px;
    background-color: lime;
    top: 90%;
    left: 90%;
}

.card {
    background-color: aqua;
    border: 1px black solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation-name: slideUp;
    animation-duration: .5s;
}

@keyframes slideUp {
    0%,
    50% {
      transform: translateY(100%);
      opacity: 1;
    }
     
    60%,
    100% {
      transform: translateY(0);
      opacity: 1;
    
    }
  }